[user]
	name = Valentin Fries
	email = MrKloan@users.noreply.github.com
[help]
	autocorrect = 1
[alias]
	pf = push --force-with-lease
	psk = push -o ci.skip
	gud = reset --hard
	graph = log --graph --oneline --decorate
	ca = commit --amend
	ri = rebase -i
	co = checkout
	st = status
	rl = reflog
	dump = cat-file -p
	bp = ! git branch | grep -Ev \"master|develop|dev\" | xargs git branch -D
[core]
	autocrlf = input
[fetch]
	prune = true
[remote "origin"]
	prune = true
[pull]
	rebase = true
